/* Eco Color Palette */
:root {
    --eco-primary: #2E8B57;  /* Sea Green */
    --eco-secondary: #3AB795; /* Mint */
    --eco-dark: #1A3A32;      /* Forest */
    --eco-light: #E8F5E9;     /* Light Mint */
}

*{
    width : 100%
    overflow : scroll;
    padding : 0;
    margin : 0;
}
body{
        background: rgba(0,0,0,0.2);
    }
